/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

/***************** VARIABLES *******************/
:root {
	/* Colors */
	--black-color-00: #000;
	--primary-color: #770493;
	--secondary-color: #ed0b65;
	--white-color-00: #fff;

	/* Font Family */
	--text-ff: 'Atkinson Hyperlegible Next', serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;
	--bold-fw: 700;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.5rem;

	/* Width */
	--container-mw: 1280px;
	--container-pi: 0.85rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	color: var(--white-color-00);
	font-weight: var(--normal-fw);
	font-family: var(--text-ff);
	font-size: var(--base-fs);
	overflow-x: hidden;
}

h1 {
	font-weight: var(--bold-fw);
}

h2 {
	font-weight: var(--medium-fw);
}

a {
	text-decoration: none;
}

a,
button {
	font-weight: var(--medium-fw);
	color: var(--white-color-00);
}

select,
button {
	cursor: pointer;
}

button,
input,
textarea,
select {
	border: none;
	overflow: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

/***************** REGISTRATION *******************/
#registration {
	background-image: linear-gradient(
		to right,
		var(--primary-color),
		var(--secondary-color)
	);
	min-height: 100vh;
}

/***************** TEXT AREA *******************/
/* TODO: Create TEXT AREA style */
/************** End of TEXT AREA ***************/

/***************** FORM AREA *******************/
/* TODO: Create FORM AREA style */
/************** End of FORM AREA ***************/

/************** End of REGISTRATION ***************/

/***************** Responsiveness *******************/
