/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

/***************** VARIABLES *******************/
:root {
	/* Colors */
	--black-color-00: #420144;
	--primary-color: #770493;
	--secondary-color: #ed0b65;
	--white-color-00: #fff;

	/* Font Family */
	--text-ff: 'Atkinson Hyperlegible Next', serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;
	--bold-fw: 700;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xxl-fs: 2.75rem;
	--xxxl-fs: 4.75rem;

	/* Width */
	--container-mw: 1280px;
	--container-pi: 0.85rem;

	/* Box Shadow */
	--primary-bs: 1px 1px 15px 25px rgba(119, 4, 147, 0.08);
	--secondary-bs: 1px 1px 25px 15px rgba(237, 11, 101, 0.06);
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	color: var(--white-color-00);
	font-weight: var(--normal-fw);
	font-family: var(--text-ff);
	font-size: var(--base-fs);
	overflow-x: hidden;
}

h1 {
	font-weight: var(--bold-fw);
}

h2 {
	font-weight: var(--medium-fw);
}

a {
	text-decoration: none;
}

select,
button {
	cursor: pointer;
}

button,
input,
textarea,
select {
	border: none;
	outline: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.title,
.subtitle {
	text-align: center;
}

.title {
	font-size: var(--xxl-fs);
	text-transform: uppercase;
	color: var(--black-color-00);
}

.subtitle {
	font-size: var(--lg-fs);
	text-transform: capitalize;
}

.btn {
	font-size: var(--base-fs);
	text-transform: capitalize;
	font-weight: var(--medium-fw);
	width: fit-content;
	padding: 0.55rem 1.85rem;
	border-radius: 1.85rem;
	font-family: var(--text-ff);
	transition: background-color 0.35s ease-in-out;
	border: 2px solid transparent;
}
/***************** REGISTRATION *******************/
#registration {
	background-image: linear-gradient(
		to right,
		var(--primary-color),
		var(--secondary-color)
	);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

.content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2.75rem;
	align-items: center;
}
/***************** TEXT AREA *******************/
.text-area {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	align-items: center;
}

.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	top: 0;
	position: relative;
	animation: 1s ease-in-out 0s infinite normal forwards icon__move;
	margin-bottom: 2rem;
}

.icon i {
	font-size: var(--xxxl-fs);
}

.icon i:nth-child(1) {
	margin-bottom: -3.55rem;
}

.text-btn {
	background-color: var(--white-color-00);
	border-color: var(--white-color-00);
	color: var(--black-color-00);
	box-shadow: var(--primary-bs);
}

.text-btn:hover {
	background-color: transparent;
	color: var(--white-color-00);
}

@keyframes icon__move {
	to {
		opacity: 1;
		top: 2.75rem;
	}
}
/************** End of TEXT AREA ***************/

/***************** FORM AREA *******************/
.form-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

#form,
.input-field {
	display: flex;
	flex-direction: column;
}

#form {
	background-color: rgba(255, 255, 255, 0.85);
	border-top-left-radius: 40%;
	border-bottom-left-radius: 48%;
	border-top-right-radius: 1.85rem;
	border-bottom-right-radius: 3.85rem;
	padding: 2.5rem 2.5rem 2.5rem 4.5rem;
	min-width: 90%;
	gap: 1.25rem;
	box-shadow: var(--primary-bs);
}

.form-title {
	font-size: var(--lg-fs);
	font-weight: var(--bold-fw);
	text-align: center;
	text-transform: uppercase;
	color: var(--black-color-00);
}

.input-field {
	gap: 0.85rem;
}

.input-field input {
	border: 2px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.85rem;
	padding: 0.55rem 1.25rem;
}

.input-field input:focus {
	border-color: rgba(237, 11, 101, 0.6);
	box-shadow: var(--secondary-bs);
	background-color: rgba(255, 255, 255, 0.18);
}

.form-btn {
	align-self: flex-end;
	box-shadow: var(--secondary-bs);
	background-color: var(--secondary-color);
	color: var(--white-color-00);
	border-color: var(--secondary-color);
}

.form-btn:hover {
	background-color: transparent;
	color: var(--secondary-color);
}
/************** End of FORM AREA ***************/

/************** End of REGISTRATION ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 1050px) {
	.content {
		grid-template-columns: 40% 55%;
		column-gap: 5%;
	}
}

@media screen and (max-width: 940px) {
	.content {
		grid-template-columns: 100%;
	}

	.text-area {
		display: none;
	}

	.form-area {
		width: 100vw;
	}

	#form {
		min-width: unset;
		width: 90%;
		max-width: 450px;
	}
}

@media screen and (max-width: 576px) {
	.btn {
		width: 100%;
	}

	#form {
		padding-left: 6.5rem;
	}
}

@media screen and (max-width: 390px) {
	#form {
		padding: 1rem 1.25rem;
		border-radius: 1rem;
	}
}
